.App-header{
  position: absolute;
  color: white;
  top: 0;
  margin: 0;
  padding: 0;
}

.App-logo{ 
  width: 5%;
}

.menu-choices{
  float: left;
  margin: -90px 0px 0px 132px;
  width: 500px;
}

.menu-containers a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  width: 100%;
  font-size: 15px;
  height: 100%;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.menu-containers{
  list-style-type: none;
  margin: 0px;
  padding: 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right,
   rgb(0, 204, 255),
    rgb(153, 51, 255) 31%,
     rgb(230, 70, 182) 52%,
      rgb(255, 249, 170) 77%,
       rgb(0, 255, 153),
        rgb(0, 204, 255)) 0% 50% / 200% 50%;
}

.YRN{
  cursor: pointer;
  float: left;
  height: 36px;
  border-right: 4px solid rgb(18, 18, 18);
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.forms{
  display: flex;
  flex-grow: 1;
}

.writting{
box-sizing: border-box;
appearance: none;
border-radius: 8px;
font-weight: normal;
width: 100%;
border: 0px;
margin: 0px;
z-index: 2;
float: left;
position: relative;
height: 52px;
letter-spacing: 1px;
font-size: 18px;
left: 0;
top: 0px;
user-select: none;
}

body{
background-color: black;
}
