.App-header{
  position: absolute;
  color: white;
  top: 0;
  margin: 0;
  padding: 0;
}

.title{
display: flex;
justify-content: center;
margin: 2% 2% 4%;
}

.logo-container{
  display: flex;
  margin: -35px 10px;
}

.title h1{
  margin: -1%;
}

.App-logo{ 
  width: 40px;
  display: flex;
  height: 98px;
  margin: 2% 6% -5% 15%;
}

.logo{
  display: flex;
  margin: 0 0px 0px -190px;
}

.menu-choices{
  width: 500px;
}

.tags{
  display: flex;
  position: relative;
  margin: 0% 18% 6%;
  justify-content: center;
}

.menu-containers a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  width: 100%;
  font-size: 15px;
  height: 100%;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.menu-containers{
  list-style-type: none;
  margin: 0px;
  padding: 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right,
   rgb(0, 204, 255),
    rgb(153, 51, 255) 31%,
     rgb(230, 70, 182) 52%,
      rgb(255, 249, 170) 77%,
       rgb(0, 255, 153),
        rgb(0, 204, 255)) 0% 50% / 200% 50%;
}

.TAG{
  cursor: pointer;
  float: left;
  height: 36px;
  border-right: 4px solid rgb(18, 18, 18);
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.placeholder{
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: black;
  opacity: 1;
  cursor: auto;
}

.divider{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.writting{
box-sizing: border-box;
appearance: none;
border-radius: 5px 8px 8px 5px;
font-weight: normal;
border: 0px;
margin: 0px;
z-index: 2;
float: left;
position: relative;
height: 52px;
letter-spacing: 1px;
font-size: 18px;
left: 0;
top: 0px;
user-select: none;
}

.btn{
  background:linear-gradient(111.3deg, #4a69bb 9.6%, #cd4dcc 93.6%);
  color: white;
  padding: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.alert{
  padding: 0;
  margin: 1%;
}

.resource{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.render-pics{
  padding:0 2px;
}

.subject-2{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.subject-2-render{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.divider-2{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.search-fetch{
  padding:2px
}

body{
background-color: black;
}
